@import '_variables.module';

.navi {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: right;
    bottom: 5vh;
    right: 5vw;
}

.navi-item {
    font-family: $titleFont;
    font-size: 2rem;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px $secondaryColor;
}

.active,
.navi-item:hover {
    color: $secondaryColor;
    cursor: pointer;
}