@import 'styles/_variables.module';
@import 'styles/_ThreeD';
@import 'styles/Nav';

.App {
  text-align: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  color: $secondaryColor;
  background-color: $primaryColor;
}

html, body {
  background-color: $primaryColor;
  font-family: $bodyFont;
  padding: 0;
  margin: 0;
}

h1, h2, p { 
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-family: $titleFont;
  font-weight: 900;
  color: $secondaryColor;
}

h2 {
  font-family: $titleFont;
}

.accent {
  color: $accentColor;
}

// .scroll-container {
//   scroll-snap-type: y mandatory;
//   height: 100vh;
//   overflow: scroll;

//   .scroll-section {
//     scroll-snap-align: start;
//     min-height: 100vh;
//   }
// }
